# Exclude specific files and directories
AppData/Local/Comms/UnistoreDB/USS.jtx
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
# Exclude all files in the NVIDIA DXCache directory recursively
AppData/LocalLow/NVIDIA/PerDriverVersion/DXCache/**
